body {
  font-family: Arial;
}

nav {
  background-color: darkcyan;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav > ul > li:hover {
  background-color: blue;
}

nav > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  padding: 0px 50px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: darkcyan;
  color: #ffffff;
}

th, td {  
  border-bottom: 1px solid #8b8888;
  padding: 5px;
}